<%- layout('layout/main.ejs') %>


<h1>profile</h1>

<div class="card card-body">
    
    <h1>Sr. <%= user.name %></h1><h2>Surname</h2><%= user.surname %>
    <h4>Email</h4><%= user.email %>
    </p>
    <p>
        <h4>Password</h4><%= user.password %>
    </p>
    <p>
        <h4>ID</h4><%= user._id %>
    </p>

</div>

